<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Resultado</title>
  </head>
  <body>
    <h1>Resultado</h1>
    {% for campus, cursos in resultado.items() %}
      <h2>{{ campus }}</h2>
      {% for curso, regimes in cursos.items() %}
        <h3>{{ curso }}</h3>
        {% for regime, cotas in regimes.items() %}
          <h4>{{ regime }}</h4>
          {% for cota, candidatos in cotas.items() %}
            <table border="1" style="width: 100%">
              <thead>
                <tr>
                  <th colspan="4">{{ cota }}</th>
                </tr>
                <tr>
                  <th style="width: 13%">Posição</th>
                  <th style="width: 13%">Número Inscrição</th>
                  <th style="width: 60%">Nome</th>
                  <th style="width: 14%">Número sorteado</th>
                </tr>
              </thead>
              <tbody>
                {% for candidato in candidatos %}
                  <tr>
                    <td>{{ candidato.posicao }}</td>
                    <td>{{ candidato.numero_inscricao }}</td>
                    <td>{{ candidato.nome }}</td>
                    <td>{{ candidato.numero_sorteado }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  </body>
</html>
